@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.whatsapp-link {
    transition: all 0.3s ease;
}

.whatsapp-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(34, 197, 94, 0.4), 0 2px 4px -2px rgba(34, 197, 94, 0.3);
}

.dropdown:hover .dropdown-menu {
    display: block; 
}